# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Packaging / build artifacts
*.egg-info/
build/
dist/

# Test/coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# Environment variables / secrets
.env
.env.*

#macOS
.DS_Store

#IDE
.vscode/
.idea/